[submodule "integration_tests/skale-manager/ts_1/third_party/IMA"]
	path = integration_tests/skale-manager/ts_1/third_party/IMA
	url = https://github.com/skalenetwork/IMA.git
[submodule "integration_tests/skale-manager/ts_1/third_party/automation_validator_cli"]
	path = integration_tests/skale-manager/ts_1/third_party/automation_validator_cli
	url = https://github.com/skalenetwork/automation_validator_cli.git
[submodule "integration_tests/skale-manager/ts_1/third_party/integration_tests_for_skale-manager"]
	path = integration_tests/skale-manager/ts_1/third_party/integration_tests_for_skale-manager
	url = https://github.com/skalenetwork/integration_tests_for_skale-manager.git
[submodule "integration_tests/skaled/load_js/third_party/SkaleExperimental"]
	path = integration_tests/skaled/load_js/third_party/SkaleExperimental
	url = https://github.com/skalenetwork/SkaleExperimental
[submodule "integration_tests/skaled/internals/third_party/skale-node-tests"]
	path = integration_tests/skaled/internals/third_party/skale-node-tests
	url = https://github.com/skalenetwork/skale-node-tests
[submodule "integration_tests/skaled/load_python/third_party/skale-node-tests"]
	path = integration_tests/skaled/load_python/third_party/skale-node-tests
	url = https://github.com/skalenetwork/skale-node-tests
[submodule "integration_tests/skaled/contractsRunningTest/third_party/SkaleExperimental"]
	path = integration_tests/skaled/contractsRunningTest/third_party/SkaleExperimental
	url = https://github.com/skalenetwork/SkaleExperimental
[submodule "integration_tests/skaled/filestorage/third_party/filestorage.js"]
	path = integration_tests/skaled/filestorage/third_party/filestorage.js
	url = https://github.com/skalenetwork/filestorage.js
